<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>試合結果入力</title>
  </head>
  <body>
    {% if prev_data.winner != 'NULL' %}
    <h2>前回入力</h2>
    <br />
    勝者: {{prev_data.winner}}<br />
    敗者: {{prev_data.loser}}<br />
    石差: {{prev_data.stone_diff}}<br />
    {% endif%}
    <form method="post" action="{{ url_for('game_input') }}">
      勝者選択<br />
      <input
        type="radio"
        id="{{player1}}"
        name="winner"
        value="{{player1}}"
      /><label for="{{player1}}">{{player1}}</label><br />
      <input
        type="radio"
        id="{{player2}}"
        name="winner"
        value="{{player2}}"
      /><label for="{{player2}}">{{player2}}</label><br />
      <label for="stone_diff">石差(絶対値、符号なし)</label>
      <input type="text" id="stone_diff" name="stone_diff" />
      <input type="submit" value="登録" />
    </form>
  </body>
</html>
