<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>つくばオープン自動マッチング</title>
  </head>
  <body>
    <h1>つくばオープン自動マッチング</h1>
    {% if (game_data[0].round == 0) %}
    <h2>~開始準備中~</h2>
    {% else %}
    <h2>~第{{ game_data[0].round }}回戦~</h2>
    {% endif %}
    <hr />

    <h2>暫定順位表</h2>
    <table border="1">
      <tr>
        <th>名前</th>
        <th>勝数</th>
        <th>負数</th>
        <th>石差</th>
        <th>戦績確認</th>
      </tr>
      {% for player in ranks %}
      <tr>
        <td>{{ player.name }}</td>
        <td>{{ player.win }}</td>
        <td>{{ player.lose }}</td>
        <td>{{ player.stone_diff }}</td>
        <td>
          <a href="{{ url_for('person_result', name=player.name) }}"
            >戦績確認</a
          >
        </td>
      </tr>
      {% endfor %}
    </table>

    <h2>対戦カード</h2>
    残り試合数 {{ game_data[0].during_game }}<br />
    {% for match in now_matches %}
    <table border="1">
      <tr>
        <td>{{ match.player1 }}</td>
        <td>{{ match.player2 }}</td>
        <td>
          {% if (match.winner == "PLAYING") %}
          <a
            href="{{ url_for('add_game', player1=match.player1, player2=match.player2) }}"
            >結果入力</a
          >
          {% elif (match.winner == "不戦勝") %} 不戦勝 {% else %}
          {{match.winner}}勝利!! {% endif %}
        </td>
      </tr>
    </table>
    {% endfor %}
    <a href="{{ url_for('matching') }}">マッチング</a><br />
    <a href="{{ url_for('add_player') }}">選手登録</a><br />
    <a href="{{ url_for('outcsv') }}">CSV出力</a><br />
    <a href="{{ url_for('reset') }}"><font color="#FF0000">リセット</font></a
    ><br />
    <h2></h2>
  </body>
</html>
