<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>つくばオープン自動マッチング</title>
  </head>
  <body>
    <h1>つくばオープン自動マッチング</h1>
    {% if (game_data[0].round == 0) %}
    <h2>~開始準備中~</h2>
    {% else %}
    <h2>~第{{ game_data[0].round }}回戦~</h2>
    {% endif %}
    <hr />

    <h2>暫定順位表</h2>
    <table border="1">
      <tr>
        <th>名前</th>
        <th>勝数</th>
        <th>負数</th>
        <th>石差</th>
        <th>戦績確認</th>
        <th>状態</th>
        {% if game_data[0].round == 0 %}
        <th>削除</th>
        {% endif %}
      </tr>
      {% for player in ranks %}
      <tr>
        <td>{{ player.name }}</td>
        <td>{{ player.win }}</td>
        <td>{{ player.lose }}</td>
        <td>{{ player.stone_diff }}</td>
        <td>
          <a href="{{ url_for('person_result', name=player.name) }}"
            >戦績確認</a
          >
        </td>
        <td>
          <a href="{{ url_for('change_status', name=player.name)}}"
            >{{ player.status }}</a
          >
        </td>
        {% if game_data[0].round == 0 %}
        <td>
          <a href="{{url_for('delete_player', name=player.name)}}">削除</a>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>

    {% if game_data[0].round != 0 %}
    <h2>対戦カード</h2>
    残り試合数 {{ game_data[0].during_game }}<br />
    {% for match in now_matches %}
    <table border="1">
      <tr>
        <td>{{ match.player1 }}</td>
        <td>{{ match.player2 }}</td>
        <td>
          {% if (match.winner == "PLAYING") %}
          <a
            href="{{ url_for('add_game', player1=match.player1, player2=match.player2) }}"
            >結果入力</a
          >
          {% elif (match.winner == "不戦勝") %} 不戦勝 {% else %}
          <a
            href="{{ url_for('fix_game', player1=match.player1, player2=match.player2) }}"
            >{{match.winner}}勝利!!</a
          >
          {% endif %}
        </td>
      </tr>
    </table>
    {% endfor %} {% if no_matches |length != 0 %}
    <h2>不戦者</h2>
    {% for match in no_matches %}
    <table border="1">
      <tr>
        <td>{{ match.player1 }}</td>
        <td>{{ match.winner }}</td>
        <td>
          <a
            href="{{url_for('fix_game', player1=match.player1, player2=match.player2)}}"
            >訂正</a
          >
        </td>
      </tr>
    </table>
    {% endfor %} {% endif %} {% endif %}
    <br /><br />
    {% if (game_data[0].round == 0 or game_data[0].during_game == 0 or end_game
    == 0) %}
    <a href="{{ url_for('matching') }}"><img src="assets/matching.png" /></a
    ><br />
    {% else %}
    <img src="assets/no_matching.png" /><br />
    {% endif %} {% if end_game == 0 and game_data[0].round != 0 %}
    <a href="{{ url_for('hand_matching') }}"
      ><img src="assets/hand_matching.png" /></a
    ><br />
    {% else %}
    <img src="assets/no_hand_matching.png" /><br />
    {% endif %} {% if (game_data[0].round == 0) %}
    <a href="{{ url_for('add_player') }}"><img src="assets/register.png" /></a
    ><br />
    {% endif %}

    <a href="{{ url_for('outcsv') }}"><img src="assets/csv.png" /></a><br />
    <br /><br /><br /><br /><br />
    <a href="{{ url_for('reset_conf') }}"><img src="assets/reset.png" /></a
    ><br />
    <h2></h2>
  </body>
</html>
